@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'CustomFont';
    src: url('/public/yzy.ttf') format('truetype');
    /* Other font formats (woff, woff2, etc.) could also be added here */
}

body {
    background-color: #ffffff; /* White background */
}

@supports (padding: max(0px)) {
    body {
      padding-top: max(0px, env(safe-area-inset-top));
      background-color: white;
    }
}